/* Fundamentals.css */

.fundamentals-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.fundamentals-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.input-field {
  padding: 8px;
  width: 250px;
  margin-right: 10px;
}

.search-button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.search-button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Loader styles */
.loader-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
